<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-3">
        <img src="/secure-icon.png" alt="icon" width="20%" />
      </h1>
<% const msgs = typeof messages !== "undefined" ? messages : []; %>

<% if (msgs.length) { %>
  <p style="color: rgb(255, 89, 89)"><%= msgs[0] %></p>
<% } %>
<!-- idk about inline css but the err message wanst red before so like ye -->

      <h2>Login</h2>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <div>OR</div>
      <a style="background-color: rgb(114, 114, 114);" href="/auth/github" class="btn btn-primary btn-block">Login with Github</a>
      <p class="mt-4">New User? <a href="/auth/register">Register</a></p>
      <p>Forgot Password? <a href="/auth/forgot">Reset</a></p>
    </div>
  </div>
</div>
